.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.main .container {
  max-width: 1280px;
  margin: 0 16px 48px;
  border-radius: var(--card-border-radius);
  background-color: var(--primary-color);
  z-index: 10;
}

@media (prefers-color-scheme: dark) {
}
