.hero {
  position: relative;
  width: var(--hundred-percent-size);
  height: 85vh;
  overflow: hidden;
}

.hero .content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--hundred-percent-size);
  color: white;
  text-align: center;
}

.hero .content h1 {
  color: #81d4fa;
  font-size: 1.6rem;
  margin-bottom: 16px;
}

.hero .content p {
  margin-bottom: 100px;
}

.hero .content .profile {
  width: 150px;
  height: 150px;
  border-radius: var(--circle-border-radius);
  background-image: url(./assets/profile.jpeg);
  background-position: bottom center;
  background-size: cover;
  animation: profile-animate 1.5s linear infinite;
}

.hero .content .icons {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

@keyframes profile-animate {
  0% {
    box-shadow: #81d4fa 0px 0px 100px;
  }
  33% {
    box-shadow: #81d4fa 0px 0px 250px;
  }
  66% {
    box-shadow: #81d4fa 0px 0px 500px;
  }
  100% {
    box-shadow: #81d4fa20 0px 0px 1000px;
  }
}
