.company-logo {
  height: 32px;
  width: 32px;
  border-radius: var(--card-border-radius);
  background-color: #eeeeee;
  transition: transform 200ms ease;
}

.company-logo:hover {
  box-shadow: 0 0 10px #eeeeee;
  transform: scale(1.2);
}
