.experience .item {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #61616130;
  border-bottom: 1px solid #f5f5f5;
}

.experience .item:last-child {
  margin-bottom: 0;
}

.experience .item p {
  opacity: 0.6;
  text-align: justify;
  margin-bottom: 16px;
}
.experience .item .title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.experience .item .title div {
  margin-left: 8px;
}
.experience .item .title div p {
  margin: 0;
  opacity: 0.4;
  font-size: 12px;
}
